:root{
 --logo-container--color: #201E43;
 --menu-container--color: #508C9B;
 --menu-container--link: aliceblue;
 --menu-container--border: white;
 --footer-container--color: #134B70;
 --footer-container--text-color: white;
 --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 --font-size--link: 1.5em;
 --font-size--footer: 1.5em;
 --logo-size: 8em;
 --container-size--header: 23.6vh;
 --container-size--menu: 10vh;
 --container-size--footer: 10vh;
 --main-container-size--default: 66.4vh;

}

#header-container{
    height: var(--container-size--header)
}

#logo-container{
    display: flex;
    background-color: var(--logo-container--color);
    align-items: center;
    justify-content: center;
}
#logo-container img{
    width: var(--logo-size);
}

#menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--container-size--menu);
   background-color: var(--menu-container--color);
   border-top: 2px solid var(--menu-container--border);
}

#menu-container ul{
    display: flex;
    gap: 50px;
}

#menu-container ul li a{
    font-size: var(--font-size--link);
    text-decoration: none;
    font-weight: bold;
    color: var(--menu-container--link);   
}

#footer-container{
    height: var(--container-size--footer);
    background-color: var(--footer-container--color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-container p{
    font-size: var(--font-size--footer);
    color: var(--footer-container--text-color);
    font-weight: bold;
    font-family:  var(--font);
}