
#logo-container{
    display: flex;
    background-color: #082540;
    background: linear-gradient(0deg, rgba(0,27,41,1) 20%, rgba(11,40,56,1) 40%);   
    justify-content:center;
    padding: 30px;
}
#logo-container img{
    width: 100px;
}

#menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #082540;
}

#menu-container ul{
    display: flex;
    gap: 50px;
}

#menu-container ul li a{
    font-size: 1.5em;
    text-decoration: none;
    color: aliceblue;
}

#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px
}

#main-text-container{
    display: flex;
    flex-direction: column;
}

#